.container {
    position: relative;
    background: $white;
    height: 100vh;
    margin-top: 100px;
    padding: 50px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}