* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $dkGrCyan;

    .label {
        color: $dkGrCyanLt;
        font-size: 20px;
        font-weight: bold;
    }

    input[type="number"] { 
        font-family: $fontFamily;
        font-weight: bold;
    }
}