// COLORS
$strongCyan: hsl(172, 67%, 45%);
$dkCyan: hsl(183, 100%, 15%);
$dkGrCyan: hsl(186, 14%, 43%);
$dkGrCyanLt: hsl(184, 14%, 56%);
$ltGrCyan: hsl(185, 41%, 84%);
$ltGrCyanLt: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// INPUT FONT SIZE
$fontSizeInput: 24px;