* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5e7a7d;
}
body .label {
  color: #7f9c9f;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}
body input[type=number] {
  font-family: "Space Mono", monospace;
  font-weight: bold;
}
body .note {
  position: absolute;
  right: 20px;
  margin-top: 5px;
  font-size: 24px;
  color: #70f5e3;
}

.container {
  position: relative;
  background: white;
  height: 100vh;
  margin-top: 100px;
  padding: 50px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

form {
  position: absolute;
}
form label {
  display: block;
}
form span {
  position: relative;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 24px;
  color: #00494d;
}
form span::before {
  content: "$";
  position: absolute;
  margin-left: 10px;
  font-size: 24px;
}
form span input[type=number] {
  width: calc(100vw - 100px);
  height: 40px;
  margin-left: 0px;
  background: #c5e4e7;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
  font-size: 24px;
  color: #00494d;
}
form span input[type=number]:focus {
  outline: none;
  border: 2px solid #70f5e3;
}
form span input[type=number]::-moz-placeholder {
  color: #b4b4b4;
}
form span input[type=number]:-ms-input-placeholder {
  color: #b4b4b4;
}
form span input[type=number]::placeholder {
  color: #b4b4b4;
}

.select-tip {
  position: absolute;
  top: 150px;
}
.select-tip .tipOptions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-25%);
}
.select-tip .tipOptions div {
  background-color: #00494d;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.select-tip .tipOptions div p {
  text-align: center;
  line-height: 40px;
}
.select-tip .tipOptions input[type=number] {
  border: none;
  outline: none;
  text-align: center;
  color: white;
  background-color: #c5e4e7;
  border-radius: 10px;
}
.select-tip .tipOptions input[type=number]:focus {
  outline: none;
  border: 2px solid #70f5e3;
}

.people {
  position: absolute;
  top: 350px;
}
.people input[type=number] {
  width: calc(100vw - 100px);
  text-align: right;
  padding: 3px 10px;
  border: none;
  outline: none;
  background-color: #c5e4e7;
  border-radius: 10px;
  color: #00494d;
}
.people input[type=number]:focus {
  border: 2px solid #e05522;
}

.results {
  background-color: #00494d;
  position: absolute;
  top: 450px;
  width: calc(100vw - 100px);
  height: 200px;
  padding: 20px;
  color: white;
  border-radius: 10px;
}
.results div {
  display: flex;
}
.results div span {
  display: block;
  color: #7f9c9f;
}
.results .reset {
  width: calc(100vw - 140px);
  height: 40px;
  background: #70f5e3;
  color: #00494d;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.results .reset:hover {
  background-color: #7ee2d6;
}/*# sourceMappingURL=style.css.map */